@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 노말라이즈 */
html {
	font-family: "Pretendard-Regular", sans;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.bd-red {
	border: 1px solid red;
}

.bd-pink {
	border: 1px solid pink;
}

.bd-blue {
	border: 1px solid blue;
}

.bd-green {
	border: 1px solid green;
}

.bd-black {
	border: 1px solid black;
}

.bd-gold {
	border: 1px solid gold;
}

.flex {
	display: flex;
}

.fd-c {
	flex-direction: column;
}

.flex-jc-e {
	justify-content: flex-end;
}

.flex-jc-s {
	justify-content: flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-ai-c {
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.h-100p {
	height: 100%;
}

.w-100p {
	width: 100%;
}
.block {
	display: block;
}

.con {
	margin: 0 auto;
}

.pl-5 {
	padding-left: 5px;
}
/* 라이브러리 끝 */



/* CSS 변수 설정 */
html {
	--primary-w-b: white;
/* 	--primary-Main-black: #F2B3B9; */
	--primary-Main-black: #F24987;
	--primary-Main-white: black;
	--primary-b-w: black;
	--primary-g-w: gray;
}


/* html[data-theme="dark"] { */
/* 	--primary-w-b: #032940; */
/* 	--primary-Main-black: #032940; */
/* 	--primary-Main-white: white; */
/* 	--primary-b-w: white; */
/* 	--primary-w-b: #032940; */
/* } */

html[data-theme="dark"] {
	--primary-w-b: black;
	--primary-Main-black: black;
	--primary-Main-white: white;
	--primary-b-w: white;
	--primary-g-w: white;
}

html, body {
	height: 100%;
}

main {
	display: flex;
	min-width: 1220px;
}

/* 
	################### SECTION SIDE 시작 ################### 
	1. 좌측면 고정 메뉴바
		- 로고
		- 메뉴
		- 히든 메뉴
*/
.side {
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: var(--primary-w-b);
}

.side > .side_box {
	position: relative;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px;
	height: 100%;
	border: 2px solid var(--primary-Main-white);
}

/* 로고 BOX 시작 */


.side > .side_box > .logo_box > a {
	padding: 30px 0 20px 0;
	height: 100px;
	text-align: center;
	justify-content: center;
}

.side > .side_box > .logo_box > a > .logo_text {
	font-family: 'LOTTERIADDAG', 'sans';
	letter-spacing: -1px;
	line-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-b-w);
	height: 100px;
	width: 100px;
	z-index: 10;
	font-size: 2rem;
}

html .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/logo_1.png');
	background-size: cover;
	  background-position: center;
	height: 120px;
	width: 200px;
	z-index: 10;
}

html[data-theme="dark"] .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/logo_2.png');
}

/* 로고 BOX 끝  */

/* 메뉴 BOX 시작 */
.side .menu_box > ul {
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
}

.side .menu_box ul > li {
	height: 60px;
}

.side .menu_box ul > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: .2s;
	color: var(--primary-Main-white);
	font-size: 20px;
}

.side .menu_box ul > li:hover > a {
	background-color: var(--primary-Main-white);
	color: var(--primary-w-b);
}

/* 검색 BOX 시작 */
.side .menu_box .js_search_box {
	display: none;
	justify-content: center;
	
}

.side .menu_box .js_search_box > form {
	width: 100%;
}

.side .menu_box .js_search_toggle_box.active + .js_search_box {
	display: flex;
}


.side .menu_box .js_search_box input {
	width: 272px;
	border: none;
	height: 100%;
	text-align: center;
	font-size: 1rem;
	color: var(--primary-w-b);
	background-color: var(--primary-Main-white);
}

.side .menu_box .js_search_box input:focus {
	outline: 1px solid var(--primary-Main-white);
}
/* 검색 BOX 끝 */

/* 숨겨진 메뉴 BOX 시작 */

.side .menu_box > ul > .js_menu_toggle_box {
	position: absolute;
	background-color: var(--primary-w-b);
	width: 100%;
	bottom: 10px;
	transition: bottom 1s;
}

.side .menu_box > ul > .js_menu_toggle_box.active {
	bottom: 200px;
}

.side .menu_box > ul > .js_menu_toggle_box > a {
	cursor: pointer;
}

.side .menu_box > ul > .js_menu_toggle_box.active > a {
	background-color: var(--primary-Main-white);
}

.side .menu_box > ul > .js_menu_toggle_box.active > a > i, main > .side .menu_box > ul > .js_menu_toggle_box:hover > a > i {
	color: var(--primary-w-b);
}

.side .menu_box > ul > .js_menu_toggle_box > .usr_menu {
	background-color: var(--primary-w-b);
	opacity: 0;
	height: 200px;
	width: 100%;
	transition: opacity .5s .1s;
}

.side .menu_box > ul > .js_menu_toggle_box.active > .usr_menu {
	opacity: 1;
	height: 200px;
}
/* 숨겨진 메뉴 BOX 끝 */

/* 메뉴 BOX 끝 */

/* 다크모드 */
.darkMode {
	cursor: pointer;
}

/* SECTION SIDE 끝 */
/* 
	################### SECTION CENTER 시작 ###################
	1. 중앙
	2. 이벤트 리스트
		- 이벤트
	3. 
*/
.center {
	background-color: var(--primary-w-b);
	height: 100vh;
	min-height: 100vh;
	flex-grow: 2;
}

html[data-theme="dark"] .center {
	 background: linear-gradient(to right, black 70%, grey);
}

.center.list {
	flex-direction: column;
	height: 100%;
	color: var(--primary-b-w);
}

.center > .center_box {
	background-color: var(--primary-w-b);;
	flex-direction: column;
	padding-top: 10px;
	width: 360px;
}

.list > .center_box > .content_box {
	width: 100%;
}

.list .contents {
	border-bottom: 1px solid var(--primary-g-w);
	width: 340px;
	height: 100%;
	padding: 10px;
	flex-direction: column;
}

.list .contents > * {
	padding: 2px 0;
}

/* 장소 BOX 시작 */
.list .contents > .location_box {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 15px 0 0 5px;
	font-size: 1rem;
}
/* 장소 BOX 끝 */


/* 이미지 BOX 시작 */
.list .contents > .img_box {
	z-index: 5;
	width: 340px;
}

.list .contents > .img_box > .detail_box {
	width: 50px;
}

.list .contents > .img_box > a > img {
	justify-content: center;
	align-items: center;
	width: 340px;
	height: 100%;
	transition: .3s;
}

.list .contents > .img_box:hover > a > img {
	opacity: 0.7;
	box-shadow: 0 0 1px 1px white;
	cursor: pointer;
}


.list .contents > .img_box > img {
	width: 100%;
}
/* 이미지 BOX 끝 */

/* 댓글 BOX 시작 */


/* 리액션 BOX 시작 */
.js_collect_btn {
/* 	font-size: 18px; */
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.js_collect_btn > i {
	color: var(--primary-b-w);	
}

.js_collect_btn > .bookmarked {
	display: none;
}

.js_collect_btn:active {
	scale: 0.9;
}

/* 리액션 BOX 끝 *

/* 상세보기 팝업 시작 */
.detail_bg {
	display: none;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	width: 99vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	
}

.detail_box {
/* 	font-family: 'Pretendard-Regular', 'sans'; */
	display: none;
	z-index: 30;
	position: fixed;
	top: calc(50% - 300px);
	left: calc(50% - 350px);
	width: 700px;
	height: 520px;
	border-right: 1px solid white;
}

.detail_box > div {
	color: var(--primary-b-w);
	background-color: var(--primary-w-b);
	width: 100%;
	height: 100%;
}
/* 팝업 좌측 콘텐츠 박스 */
.detail_box .dt_content_box {
	width: 390px;
}

.detail_box .dt_reply_box > .dt_location {
	justify-content: space-between;
	font-size: 0.9rem;
	margin-bottom: 10px;
}

.detail_box .dt_content_box > .dt_img > img {
	width: 390px;
}

/* 팝업 우측 댓글 박스 */
.detail_box .dt_reply_box {
	padding: 0 10px;
}

.detail_box .dt_reply {
	overflow: auto;
}

.detail_box .dt_reply::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.dt_reply_box {
	flex-grow: 10;
}

.dt_reply_box > .dt_content_body {
	height: 15%;
}

.dt_reply_box > .dt_reply {
	height: 85%;
}

.dt_reply_box > .dt_reply_edit {
	border-top: 1px solid grey;
	height: 10%;
}

.dt_reply_edit textarea {
	font-family: 'Pretendard-Regular', 'sans';
	font-size: 1rem;
	height: 40px;
	flex-grow: 2;
	outline: none;
	border: none;
	background-color: var(--primary-w-b);
	color: var(--primary-b-w);
	overflow: hidden;
}

.dt_reply_edit button {
	font-family: 'Pretendard-Regular', 'sans';
	height: 46px;
	border: none;
	background-color: var(--primary-w-b);
	color: var(--primary-b-w);
	font-size: 1.1rem;
}

.dt_reply_box > .dt_reply_edit div {
	display: flex;
	align-items: flex-end;
}

.reply_content {
	width: 290px;
	white-space: pre-wrap;
  	word-wrap: break-word;
	margin-bottom: 8px;
}

.reply_writer {
	font-size: 1rem;
	font-weight: 900;
	color: var(--primary-b-w);
}

.reply_body {
}

.reply_add {
	font-size: 0.8rem;
	color: var(--primary-b-w);	
}

.detail_box .dt_reply_box {
	position: relative;
}

.detail_box .dt_reply_box > .side_btn {
	cursor: pointer;
	font-family: 'Pretendard-Regular', 'sans';
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 1.1rem;
	border-top: 1px solid white;
	background-color: var(--primary-w-b);
	color: var(--primary-b-w);
	transition: .3s;
}

.detail_box .dt_reply_box > .exit_btn {
	left: 311px;
}

.detail_box .dt_reply_box > .exit_btn:hover {
	width: 120px;
}

.detail_box .dt_reply_box > .reservation_btn {
	left: 311px;
	top: 50px;
}

.detail_box .dt_reply_box > .reservation_btn:hover {
	width: 120px;
}

.detail_box .dt_reply_box > .bookmark_btn {
	left: 311px;
	top: 101px;
}

.detail_box .dt_reply_box > .bookmark_btn:hover {
	width: 120px;
}

/* 상세보기 팝업 끝 */

/* 리스트 검색 결과 없을 때 시작 */
.no_events {
/* 	font-family: 'Pretendard-Regular', 'sans'; */
	opacity: 0.6;
	position: absolute;
	font-size: 2rem;
	top: 50%;
	left: 40%;
	color: grey;
}

/* 검색 결과 갯수 */
.eventsCnt {
	position: fixed;
	top: 241px;
	left: 192px;
	z-index: 20;
	font-size: 1.15rem;
}


/* 
	################### Member 박스 시작 ################### 
	1. 회원가입
	2. 로그인
*/

.center > .member_box > form{
	background-color: white;
	padding: 50px 0 100px 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	padding: 50px 0 100px 0;
}

.center > .member_box.login_form {
	transform: translateY(calc(50% - 200px));
}

html[data-theme="dark"]  main > section.center > .member_box > form {
	box-shadow: inset 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.center > .member_box h1 {
	text-align: center;
	font-size: 30px;
}

.center > .member_box {
	margin: 0 auto;
	width: 600px;
	padding-top: 50px;
}

.center > .member_box .input_box {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.input_box > label, .input_box > input, .input_box > button {
	border-radius: 10px;
	font-size: 18px;
	padding: 20px 0 10px 0;
	width: 100%;
}

.center > .member_box .input_box > input {
	padding: 15px 0 15px 7px;
	font-size: 15px;
}

.center > .member_box .input_box > input:focus {
	scale: 1.05;
}

.center > .member_box .input_box > div {
	margin-top: 20px;
}

.center > .member_box .input_box > div > .find_btn {
	padding: 0 20px;
}

.center > .member_box .input_box > button {
	margin-top: 40px;
	padding: 15px;
	width: 314px;
	border: none;
	background-color: var(--primary-Main-black);
	color: white;
	cursor: pointer;
	transition: .2s;
}

.center > .member_box .input_box > button:active {
	scale: 0.9;
}

/* member box 끝 */

/* profile 시작 */

.center .profile_box {
	margin: 0 auto;
	width: 600px;
}

.center .id_card {
	z-index: 2;
	position: absolute;
	top: calc(50% - 200px);
	height: 300px;
	width: 500px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	transition: .4s;
}

.profile_box:hover > .id_card {
	opacity: 0.95;
	transform: translate(-35px, -35px);
	perspective: 100px;
}

.bhd_idCard {
	z-index: 1;
	top: calc(50% - 200px);
	background-color: #A6A6A6;
	border-radius: 10px;
	position: absolute;
	height: 295px;
	width: 495px;
}

.bhd_idCard > a {
	box-sizing: border-box;
	padding: 0 10px 6px 0;
	display: flex;
	height: 100%;
	color: white;
	justify-content: flex-end;
	align-items: flex-end;
}

.profile_img {
	flex-grow: 6;
	border-radius: 10px;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-Main-black));
}


.profile_info {
	font-family: 'MBC1961GulimM', 'sans';
	flex-grow: 1;
	font-size: 0.9rem;
	box-sizing: border;
	padding: 190px 0 0 0;
}

.nickname {
  font-size: 2rem;
}
/* profile 끝 */

/* modify 시작 */
.profile_modify {
	font-family: 'MBC1961GulimM', 'sans';
	flex-grow: 1;
	box-sizing: border;
}

.profile_modify > form > div > * {
	font-size: 18px;
	padding: 10px;
	border: none;
}

.profile_modify > form > div > input:focus {
	outline: 2px solid var(--primary-Main-black);
}

.profile_modify > form {
	height: 100%;
}

.profile_modify > form > div {
	position: relative;
	height: 100%;
}

.submit_btn {
	font-family: 'MBC1961GulimM', 'sans';
	cursor: pointer;
	background-color: white;
	transition: .5s;
	text-align: left;
}

.none {
	z-index: 2;
	position: absolute;
	top: calc(50% - 200px);
	height: 300px;
	width: 500px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	transition: .4s;
}

/* modify 끝 */

/* SECTION CENTER 끝*/


/* ################### manage 시작 ################### */

