@charset "UTF-8";

@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'neurimboGothicRegular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



/* 노말라이즈 */
html {
	font-family: "SUITE-Regular", sans;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.bd-red {
	border: 1px solid red;
}

.bd-pink {
	border: 1px solid pink;
}

.bd-blue {
	border: 1px solid blue;
}

.bd-green {
	border: 1px solid green;
}

.bd-black {
	border: 1px solid black;
}

.bd-gold {
	border: 1px solid gold;
}

.flex {
	display: flex;
}

.fd-c {
	flex-direction: column;
}

.flex-jc-e {
	justify-content: flex-end;
}

.flex-jc-s {
	justify-content: flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-ai-c {
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.height-100p {
	height: 100%;
}

.block {
	display: block;
}

.con {
	margin: 0 auto;
}

.pl-5 {
	padding-left: 5px;
}
/* 라이브러리 끝 */



/* CSS 변수 설정 */
html {
	--primary-w-b: white;
	--primary-Main-black: #F2B3B9;
	--primary-Main-white: black;
	--primary-b-w: black;
}


/* html[data-theme="dark"] { */
/* 	--primary-w-b: #032940; */
/* 	--primary-Main-black: #032940; */
/* 	--primary-Main-white: white; */
/* 	--primary-b-w: white; */
/* 	--primary-w-b: #032940; */
/* } */

html[data-theme="dark"] {
	--primary-w-b: black;
	--primary-Main-black: black;
	--primary-Main-white: white;
	--primary-b-w: white;
}

html, body {
	height: 100%;
}

main {
	display: flex;
	min-width: 1220px;
}

/* ################### SECTION SIDE 시작 ################### */
/*
	1. 좌측면 고정 메뉴바
		- 로고
		- 메뉴
		- 히든 메뉴
*/
.side {
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: var(--primary-w-b);
}

.side > .side_box {
	position: relative;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px;
	height: 100%;
	border: 2px solid var(--primary-Main-white);
}

/* 로고 BOX 시작 */
.side > .side_box > .logo_box > a {
	padding: 30px 0 20px 0;
	height: 100px;
	text-align: center;
	justify-content: center;
}
html .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/light_logo.png');
	background-size: cover;
	height: 100px;
	width: 100px;
	z-index: 10;
}

html[data-theme="dark"] .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/dark_logo.png');
/* 	background-size: cover; */
/* 	height: 100px; */
/* 	width: 100px; */
}

/* 로고 BOX 끝  */

/* 메뉴 BOX 시작 */
.side .menu_box > ul {
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
}

.side .menu_box ul > li {
	height: 60px;
}

.side .menu_box ul > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: .2s;
	color: var(--primary-Main-white);
	font-size: 20px;
}

.side .menu_box ul > li:hover > a {
	background-color: var(--primary-Main-white);
	color: var(--primary-w-b);
}

/* 검색 BOX 시작 */
.side .menu_box .search_box {
	display: none;
	justify-content: center;
	
}

.side .menu_box .search_box > form {
	width: 100%;
}

.side .menu_box .search_btn.active + .search_box {
	display: flex;
}


.side .menu_box .search_box input {
	width: 272px;
	border: none;
	height: 100%;
	text-align: center;
	font-size: 1rem;
	font-family: 'GmarketSansMedium', 'sans';
	background-color: var(--primary-Main-white);
}

.side .menu_box .search_box input:focus {
	outline: 1px solid var(--primary-Main-white);
}
/* 검색 BOX 끝 */

/* 숨겨진 메뉴 BOX 시작 */

.side .menu_box > ul > .menu_btn {
	position: absolute;
	background-color: var(--primary-w-b);
	width: 100%;
	bottom: 10px;
	transition: bottom 1s;
}

.side .menu_box > ul > .menu_btn.active {
	bottom: 200px;
}

.side .menu_box > ul > .menu_btn > a {
	cursor: pointer;
}

.side .menu_box > ul > .menu_btn.active > a {
	background-color: var(--primary-Main-white);
}

.side .menu_box > ul > .menu_btn.active > a > i, main > .side .menu_box > ul > .menu_btn:hover > a > i {
	color: var(--primary-w-b);
}

.side .menu_box > ul > .menu_btn > .hidden_menu {
	background-color: var(--primary-w-b);
	opacity: 0;
	height: 200px;
	width: 100%;
	transition: opacity .5s .1s;
}

.side .menu_box > ul > .menu_btn.active > .hidden_menu {
	opacity: 1;
	height: 200px;
}
/* 숨겨진 메뉴 BOX 끝 */
/* 메뉴 BOX 끝 */

/* 다크모드 */
.darkMode {
	cursor: pointer;
}

/* SECTION SIDE 끝 */




/* ################### SECTION CENTER 시작 ################### */
/*
	1. 중앙
	2. 이벤트 리스트
		- 이벤트
	3. 
*/
.center {
	background-color: var(--primary-w-b);
	height: 100vh;
	flex-grow: 2;
}

/* body::-webkit-scrollbar { */
/* 	width: 0; */
/* 	height: 0; */
/* 	background-color: black; */
/* } */

html[data-theme="dark"] .center {
	 background: linear-gradient(to right, black 70%, grey);
}

.center.list {
	font-family:"Pretendard-Regular", "sans";
	flex-direction: column;
	height: 100%;
	color: var(--primary-b-w);
}

.center > .center_box {
	background-color: var(--primary-w-b);;
	flex-direction: column;
	padding-top: 10px;
	width: 600px;
}

.list > .center_box > .content_box {
	margin-bottom: 30px;
	width: 100%;
}

.list .contents {
	border-bottom: 1px solid white;
	width: 370px;
	height: 100%;
	padding: 10px;
	flex-direction: column;
}

.list .contents > * {
	padding: 2px 0;
}

/* 장소 BOX 시작 */
.list .contents > .location_box {
	padding: 15px 0 0 5px;
	font-size: 0.95rem;
}
/* 장소 BOX 끝 */


/* 이미지 BOX 시작 */
.list .contents > .img_box {
	z-index: 5;
	width: 370px;
}

.list .contents > .img_box > .detail_box {
	width: 50px;
}

.list .contents > .img_box > a > img {
	justify-content: center;
	align-items: center;
	width: 340px;
	height: 100%;
	transition: .3s;
}

.list .contents > .img_box:hover > a > img {
	opacity: 0.7;
	box-shadow: 0 0 1px 1px white;
	cursor: pointer;
}


.list .contents > .img_box > img {
	width: 100%;
}
/* 이미지 BOX 끝 */

/* 댓글 BOX 시작 */


/* 리액션 BOX 시작 */
.list .contents > .reaction_box > .like_btn {
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.list .contents > .reaction_box > button > i {
	color: var(--primary-b-w);	
}
/* 리액션 BOX 끝 */

/* 상세보기 팝업 시작 */
.detail_bg {
	display: none;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	width: 99vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	
}

.detail {
	font-family: 'Pretendard-Regular', 'sans';
	display: none;
	z-index: 30;
	position: fixed;
	top: calc(50% - 300px);
	left: calc(50% - 350px);
	width: 700px;
	height: 539px;
}

.detail > div {
	color: var(--primary-b-w);
	background-color: var(--primary-w-b);
	width: 100%;
	height: 100%;
}

.detail .dt_content {
	width: 100%;
}

.detail .dt_content > .dt_location {
	justify-content: space-between;
	padding: 0 10px;
}
.detail .dt_content > .dt_img {
	width: 100%;
}

.detail .dt_content > .dt_img > img {
	width: 390px;
}

.detail .dt_reply {
	width: 300px;
	padding-left: 5px;
	overflow: auto;
}

.detail .dt_reply::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.input_reply textarea {
	font-family: 'Pretendard-Regular', 'sans';
	background-color: var(--primary-w-b);
	color: var(--primary-b-w);
	width: 260px;
	font-size: 1.1rem;
	flex-grow: 1;
}

.input_reply button {
	font-family: 'Pretendard-Regular', 'sans';
	border: none;
	background-color: var(--primary-b-w);
	color: var(--primary-w-b);
	flex-grow: 1;
}

/* 상세보기 팝업 끝 */


/* ################### Member 박스 시작 ################### */
/*
	1. 회원가입
	2. 로그인
*/

.center > .memberForm > form{
	background-color: white;
	padding: 50px 0 100px 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	padding: 50px 0 100px 0;
}

.center > .memberForm.loginForm {
	transform: translateY(calc(50% - 200px));
}

html[data-theme="dark"]  main > section.center > .memberForm > form {
	box-shadow: inset 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.center > .memberForm h1 {
	text-align: center;
	font-size: 30px;
}

.center > .memberForm {
	margin: 0 auto;
	width: 600px;
	padding-top: 50px;
}

.center > .memberForm .input_box {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.input_box > label, .input_box > input, .input_box > button {
	border-radius: 10px;
	font-family: "Pretendard-Regular", "sans";
	font-size: 18px;
	padding: 20px 0 10px 0;
	width: 100%;
}

.center > .memberForm .input_box > input {
	padding: 15px 0 15px 7px;
	font-size: 15px;
}

.center > .memberForm .input_box > input:focus {
	scale: 1.05;
}

.center > .memberForm .input_box > div {
	margin-top: 20px;
}

.center > .memberForm .input_box > div > .find_btn {
	padding: 0 20px;
}

.center > .memberForm .input_box > button {
	margin-top: 40px;
	padding: 15px;
	width: 314px;
	border: none;
	background-color: var(--primary-Main-black);
	color: white;
	cursor: pointer;
	transition: .2s;
}

.center > .memberForm .input_box > button:active {
	scale: 0.9;
}

/* member box 끝 */

/* profile 시작 */

.center .profile_box {
	margin: 0 auto;
	width: 600px;
}

.center .id_card {
	z-index: 2;
	position: absolute;
	top: calc(50% - 200px);
	height: 300px;
	width: 500px;
	font-family:"TheJamsil5Bold", "sans";
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	transition: .4s;
}

.profile_box:hover > .id_card {
	opacity: 0.95;
	transform: translate(-35px, -35px);
	perspective: 100px;
}

.bhd_idCard {
	z-index: 1;
	top: calc(50% - 200px);
	background-color: #A6A6A6;
	border-radius: 10px;
	position: absolute;
	height: 295px;
	width: 495px;
}

.bhd_idCard > a {
	box-sizing: border-box;
	padding: 0 10px 6px 0;
	display: flex;
	height: 100%;
	color: white;
	justify-content: flex-end;
	align-items: flex-end;
}

.profile_img {
	flex-grow: 6;
	border-radius: 10px;
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary-Main-black));
}


.profile_info {
	flex-grow: 1;
	font-size: 0.9rem;
	box-sizing: border;
	padding: 210px 0 0 0;
}

.nickname {
  font-size: 2rem;
  font-family: "TheJamsil5Bold", "sans";
}

/* profile 끝 */





/* SECTION CENTER 끝*/

/* 반응형 시작 */
/* @media screen and (max-width: 1220px){ */

/* } */