@charset "UTF-8";

@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'neurimboGothicRegular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 노말라이즈 */
html {
	font-family: "SUITE-Regular", sans;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.bd-red {
	border: 1px solid red;
}

.bd-pink {
	border: 1px solid pink;
}

.bd-blue {
	border: 1px solid blue;
}

.bd-green {
	border: 1px solid green;
}

.bd-black {
	border: 1px solid black;
}

.bd-gold {
	border: 1px solid gold;
}

.flex {
	display: flex;
}

.fd-c {
	flex-direction: column;
}

.flex-jc-e {
	justify-content: flex-end;
}

.flex-jc-s {
	justify-content: flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-ai-c {
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.height-100p {
	height: 100%;
}

.block {
	display: block;
}

.con {
	margin: 0 auto;
}

.pl-5 {
	padding-left: 5px;
}
/* 라이브러리 끝 */

/* CSS 변수 설정 */
html[data-theme="light"] {
	--primary-bgc: white;
	--primary-bgc-2: #F2B3B9;
	--primary-color: #F2B3B9;
	--primary-font-color: black;
	--primary-rev-color: white;
}


/* html[data-theme="dark"] { */
/* 	--primary-bgc: #032940; */
/* 	--primary-bgc-2: #032940; */
/* 	--primary-color: white; */
/* 	--primary-font-color: white; */
/* 	--primary-rev-color: #032940; */
/* } */

html[data-theme="dark"] {
	--primary-bgc: black;
	--primary-bgc-2: black;
	--primary-color: white;
	--primary-font-color: white;
	--primary-rev-color: black;
}

html, body {
	height: 100%;
}

main {
	display: flex;
	min-width: 1220px;
}

/* SECTION ghost 시작 */
/* main  >  section.ghost { */
/* 	width: 300px; */
/* 	height: 100%; */
/* } */
/* SECTION ghost 끝 */

/* SECTION SIDE 시작 */
main > .side {
	position: fixed;
	width: 300px;
	height: 100%;
	background-color: var(--primary-bgc);
}

main > .side > .side_box {
	position: relative;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px;
	height: 100%;
	border: 2px solid var(--primary-color);
}

/* 로고박스 시작 */
main > .side > .side_box > .logo_box > a {
	padding: 30px 0 20px 0;
	height: 100px;
	text-align: center;
	justify-content: center;
}

html[data-theme="dark"] main > .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/dark_logo.png');
	background-size: cover;
	height: 100px;
	width: 100px;
	z-index: 10;
}

html[data-theme="light"] main > .side > .side_box > .logo_box > a > #logo_img {
	background-image: url('/resource/image/light_logo.png');
	background-size: cover;
	height: 100px;
	width: 100px;
}
/* 로고 박스 끝  */

/* 메뉴 박스 시작 */
main > .side .menu_box > ul {
	flex-direction: column;
	text-align: center;
	width: 100%;
	height: 100%;
}

main > .side .menu_box ul > li {
	height: 60px;
}

main > .side .menu_box ul > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: .2s;
	color: var(--primary-color);
	font-size: 20px;
}

main > .side .menu_box ul > li:hover > a {
	background-color: var(--primary-color);
	color: var(--primary-rev-color);
}

/* hidden_menu 시작 */

main > .side .menu_box > ul > .menu_btn {
	position: absolute;
	background-color: var(--primary-bgc);
	width: 100%;
	bottom: 10px;
	transition: bottom 1s;
}

main > .side .menu_box > ul > .menu_btn.active {
	bottom: 270px;
}

main > .side .menu_box > ul > .menu_btn > a {
	cursor: pointer;
}

main > .side .menu_box > ul > .menu_btn.active > a {
	background-color: var(--primary-color);
}

main > .side .menu_box > ul > .menu_btn.active > a > i, main > .side .menu_box > ul > .menu_btn:hover > a > i {
	color: var(--primary-rev-color);
}

main > .side .menu_box > ul > .menu_btn > .hidden_menu {
	background-color: var(--primary-bgc);
	opacity: 0;
	height: 200px;
	width: 100%;
	transition: opacity .5s .1s;
}

main > .side .menu_box > ul > .menu_btn.active > .hidden_menu {
	opacity: 1;
	height: 200px;
}
/* hidden_menu 끝 */

/* 다크모드 */
.darkMode {
	cursor: pointer;
}

/* SECTION SIDE 끝 */




/* SECTION CENTER 시작 */
main > section.center {
	background-color: var(--primary-bgc);
	height: 100vh;
	flex-grow: 2;
}

main > section.center.list {
	font-family:"Pretendard-Regular", "sans";
	flex-direction: column;
	height: 100%;
	color: var(--primary-font-color);
}

main > section.center > .center_box {
	
	background-color: var(--primary-bgc);;
	flex-direction: column;
	padding-top: 10px;
	width: 600px;
}

main > .list > .center_box > .content_box {
/* 	border-bottom: 1px solid var(--primary-font-color); */
	margin: 30px 0;
	width: 100%;
}

/* 콘텐츠 시작 */
main > .list .contents {
	width: 370px;
	height: 100%;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 5px 2px white;
	flex-direction: column;
}

main > .list .contents > * {
	padding: 2px 0;
}

/* location_box 시작 */
main > .list .contents > .location_box {
	padding-left: 5px;
	font-size: 0.95rem;
}
/* location_box 끝 */

/* img_box 시작 */
main > .list .contents > .img_box {
	z-index: 5;
	width: 370px;
}

main > .list .contents > .img_box > .detail_box {
	width: 50px;
}

main > .list .contents > .img_box > a > img {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: .3s;
}

main > .list .contents > .img_box:hover > a > img {
	opacity: 0.8;
	cursor: pointer;
}


main > .list .contents > .img_box > img {
	z-index: 5;
	width: 100%;
}
/* img_box 끝 */

main > .list .contents > .reaction_box > .like_btn {
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

/* 리액션 박스 시작 */
main > .list .contents > .reaction_box > button > i {
	color: var(--primary-font-color);	
}

/* 리액션 박스 끝 */

/* 콘텐츠 끝 */


/* Member 박스 시작 */
main > section.center > .memberForm > form {
	background-color: white;
	padding: 50px 0 100px 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.5);
	padding: 50px 0 100px 0;
}

html[data-theme="dark"]  main > section.center > .memberForm > form {
	box-shadow: inset 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
}

main > section.center > .memberForm h1 {
	text-align: center;
	font-size: 30px;
}

main > section.center > .memberForm {
	margin: 0 auto;
	width: 600px;
	padding-top: 50px;
}

main > section.center > .memberForm .input_box {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.input_box > label, .input_box > input, .input_box > button {
	border-radius: 10px;
	font-family: "Pretendard-Regular", "sans";
	font-size: 18px;
	padding: 20px 0 10px 0;
	width: 100%;
}

main > section.center > .memberForm .input_box > input {
	padding: 15px 0 15px 7px;
	font-size: 15px;
}

main > section.center > .memberForm .input_box > input:focus {
	scale: 1.05;
}

main > section.center > .memberForm .input_box > div {
	margin-top: 20px;
}

main > section.center > .memberForm .input_box > div > .find_btn {
	padding: 0 20px;
}

main > section.center > .memberForm .input_box > button {
	margin-top: 40px;
	padding: 15px;
	width: 314px;
	border: none;
	background-color: var(--primary-bgc-2);
	color: white;
	cursor: pointer;
	transition: .2s;
}

main > section.center > .memberForm .input_box > button:active {
	scale: 0.9;
}

/* member box 끝 */

/* SECTION CENTER 끝*/

/* 반응형 시작 */
/* @media screen and (max-width: 1220px){ */

/* } */